
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <ul>
      <li><h2>Saisir un potin par <a href="/gossips/new/">ici</a> ! </h2></li>
      <li><h2>Consulter tout les potins par <a href="/gossips/show/">ici</a> ! </h2></li>
      <li><h2>Ou encore effacer un potin par <a href="/gossips/delete/">ici</a> ! </h2></li>
    </ul>
  </body>
</html>