<html>

<title>PAGE POTIN</title>
<body>
    <h1>Voici la page du potin n°X</h1>

    <p>Son auteur : <%= gossip[page.to_i].author %> </p>
    <p>Le contenu du potin : <%= gossip[page.to_i].content%> </p>

    <a href="/">Lien pour revenir à la page des potins</a>
</body>
</html>